/* 95 */
.cryptozen_menu ul li a:hover {
    color: #37A3FE;
}

/* 141 */
.header-src-btn {
    display: inline-block;
    padding-right: 14px;
}

/* 145 */
.nav-btn.navSidebar-button {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 3px;
}

/* 339 */
.slider-content span {
    color: #37A3FE
}

/* 342 */
.slider-content p {
    font-size: 18px;
    margin: 23px 0 36px;
    width: 99%;
    font-weight: 500;
}

/* 348 */
.slider-button {
    display: inline-block;
    margin-right: 28px;
}

/* 352 */
.slider-button a {
    display: inline-block;
    background: #0194FC;
    padding: 17px 37px;
    border-radius: 30px;
    font-size: 15px;
    transition: .5s;
    font-family: 'Inter';
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* 364 */
.slider-button a::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #fff;
    transition: .6s;
    z-index: -1;
    border-radius: 30px;
}

/* 376 */
.slider-button a:hover::after {
    left: 0;
    width: 100%;
}

/* 383 */
.slider-btn {
    display: inline-block;
}

/* 386 */
.slider-btn a {
    display: inline-block;
    border: 1px solid #525578;
    padding: 15px 37px;
    font-family: 'Inter';
    font-size: 15px;
    transition: .5s;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* 398 */
.slider-btn a::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #fff;
    transition: .6s;
    z-index: -1;
    border-radius: 30px;
}

/* 410 */
.slider-btn a:hover::after {
    left: 0;
    width: 100%;
}

.slider-btn a:hover {
    color: #0194FC;
}

/* 417 */
.slider-thumb {
    position: relative;
    z-index: 1;
}

/* 433 */
.hero-shape {
    position: absolute;
    top: 26%;
    left: 10%;
}

/* 587 */
.slider-area.style-five {
    /* overflow-y: hidden; */
    background: url(assets/images/new/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    position: relative;
    z-index: 1;
}

/* 596 */
.slider-area.style-five::before {
    overflow: hidden;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(3, 3, 65, .7);
    z-index: 2;
}

/* 606 */
.slider-area.style-five .container {
    z-index: 2;
}

/* 629 */
.slider-area.style-five .slider-content h4 {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin: 0 0 30px;
    z-index: 1;
    left: 19px;
}

/* 638 */
span.other {
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background: #37A3FE;
    display: inline-block;
    border-radius: 100%;
    color: #fff;
    position: relative;
    left: -10px;
}

/* 650 */
.slider-area.style-five .slider-content h4::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -20px;
    height: 46px;
    width: 54%;
    background: #06206D;
    z-index: -1;
    border-radius: 30px;
}

/* 661 */
.slider-area.style-five .slider-content h1 {
    font-size: 60px;
    margin: 0 0 14px;
}

/* 665 */
.slider-area.style-five .slider-content p {
    font-size: 16px;
    margin: 14px 0 33px;
    width: 96%;
}

/* 670 */
.slider-area.style-five .slider-button a {
    padding: 15px 37px;
    border-radius: 5px;
    font-size: 15px;
    z-index: 22;
}

/* 676 */
.slider-area.style-five .slider-button a i {
    margin-right: 5px;
    position: relative;
    z-index: 1;
}

/* 681 */
.slider-area.style-five .slider-button a i::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -7px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100%;
    transition: .5s;
}

/* 694 */
.slider-button a:hover {
    color: #0194FC;
}

.slider-button a:hover i::after {
    border-color: #37A3FE !important; 
}

/* 700 */
.slider-area.style-five .slider-button a::after {
    border-radius: 5px;
}

/* 703 */
.slider-area.style-five .slider-btn a i {
    margin-right: 5px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    background: #0194FB;
    border-radius: 100%;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    transition: .5s;
}

/* 715 */
.slider-area.style-five .slider-btn a:hover i {
    color: #fff !important;
}

/* 718 */
.slider-area.style-five .slider-btn a {
    border-radius: 5px;
}

/* 721 */
.slider-area.style-five .slider-btn a::after {
    border-radius: 5px;
}

/* 725 */
.slider-area.style-five .slider-thumb {
    left: 30%;
    top: 15px;
}

/* 729 */
.slider-area.style-five .hero-shape {
    top: -25%;
    left: -20%;
    z-index: -1;
    animation-name: rotatemeTwo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* 737 */
.slider-area.style-five .hero-shape4 {
    position: absolute;
    top: 0;
    left: -91px;
}

/* 742 */
.slider-area.style-five .hero-shape3 {
    position: absolute;
    top: -11%;
    right: 5%;
    z-index: -1;
    animation-name: rotateme;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* 752 */
.slider-area.style-five .hero-shape5 {
    position: absolute;
    right: 33px;
    bottom: -58px;
}

/* 757 */
.slider-area.style-five .hero-shape7 {
    position: absolute;
    top: -79px;
    right: -53px;
}

/* 762 */
.slider-area.style-five .hero-shape8 {
    position: absolute;
    top: 36%;
    left: 35%;
}

/* 767 */
.slider-area.style-five .shape-one {
    position: absolute;
    left: 4%;
    bottom: 25%;
}

/* 854 */
.countdown-area {
    background: rgb(1, 53, 126, 0.7);
    width: 63%;
    padding: 30px 0 23px;
    z-index: 22;
    border-radius: 7px;
    position: absolute;
    top: 86%;
    left: -112px;
}

/* 864 */
.countdown-content {
    text-align: center;
}

/* 867 */
.countdown-title-two h4 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 0 17px;
}

/* 873 */
div#countdown-two ul li {
    display: inline-block;
}

/* 876 */
li.frist {
    background: #47DBA7 !important;
}

/* 879 */
li.secound {
    background: #FFC107 !important;
}

/* 882 */
li.third {
    background: #E230CC !important;
}

/* 885 */
div#countdown-two ul li {
    height: 50px;
    width: 50px;
    line-height: 48px;
    text-align: center;
    background: #5AB3FF;
    color: #FFF;
    font-size: 22px;
    border-radius: 4px;
    font-family: 'Inter';
}

/* 896 */
div#countdown-two ul li p {
    font-size: 13px;
    text-transform: uppercase;
}

/* 1447 */
.shape {
    position: absolute;
    top: 83px;
    left: 5px;
}

/* 1539 */
.service-section.style-three {
    background: url(assets/images/new/service-bg.png);
    background-position:  center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 1545 */
.service-section.style-three .single-service-box {
    text-align: left !important;
    position: relative;
    margin-bottom: 30px;
    padding: 39px 33px 21px;
    right: 0;
    background: rgb(35, 24, 117, 0.3);
    box-shadow: 6px 0 21px rgb(0 0 0 / 4%);
    transition: .5s;
    z-index: 1;
}

/* 1556 */
.service-section.style-three .single-service-box::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: .5s;
    border-radius: 4px;
    z-index: -1;
    background: -webkit-linear-gradient(-9deg, #2A0365 30%, #03224A 70%);
}

/* 1568 */
.service-section.style-three .single-service-box:hover::before {
    left: 0;
    width: 100%;
}

/* 1573 */
.service-section.style-three .single-service-box:hover {
    box-shadow: 6px 0 21px rgb(0 0 0 / 25%);
}

/* 1576 */
.service-section.style-three .service-thumb {
    position: relative;
    z-index: 1;
    right: 8px;
    margin-right: 13px;
}

/* 1582 */
.style-three .service-thumb img {
    transition: .8s;
}

/* 1585 */
.style-three .single-service-box:hover .service-thumb img {
    transform: rotateY(180deg);
}

/* 1588 */
.service-section.style-three .service-content h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px;
}

/* 1660 */
.table-section {
    background: url(assets/images/new/table-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 1666 */
.table-reponsive.box {
    width: 100%;
}

/* 1669 */
.box {
    padding: 20px 10px;
    max-width: 100%;
    margin: 0 auto;
}

/* 1674 */
.table-responsive-content h2 {
    font-weight: 600;
    margin: 0 0 15px;
    font-size: 36px;
}

/* 1679 */
.table-responsive-content span {
    font-family: 'Inter';
    height: 34px;
    width: 88px;
    background: #072B4D;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    color: #63BCC2;
}

/* 1689 */
.table-responsive-content p {
    display: inline-block;
    margin-left: 15px;
}

/* 1696 */
div#example_filter label {
    color: #FFF;
}

/* 1699 */
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #332269;
    color: #FFF;
    margin-bottom: 18px;
}

/* 1704 */
.table-bordered td,
.table-bordered th {
    border: 1px solid #332269;
}

/* 1707 */
.table-bordered {
    border: none;
}

/* 1710 */
th.sorting.sorting_asc {
    color: #FFF;
}

/* 1713 */
th.sorting {
    color: #FFF;
}

/* 1716 */
td.sorting_1 {
    color: #FFF;
}

/* 1719 */
td {
    color: #FFF;
}

/* 1722 */
table.dataTable tbody tr {
    background-color: transparent;
}

/* 1725 */
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px;
    font-family: 'Inter';
}

/* 1799 */
.about-section .about-thumb {
    position: relative;
    left: 90px;
}

/* 1819 */
.dreamit-section-sub-title h5 {
    font-size: 18px;
    margin: 0 0 12px;
    font-weight: 300;
    position: relative;
    left: 72px;
    z-index: 1;
    display: inline-block;
}

/* 1837 */
.dreamit-section-main-title h1 {
    font-size: 42px;
    margin: 0 0 22px;
}

/* 1845 */
.about-icon-thumb {
    height: 61px;
    width: 61px;
    line-height: 56px;
    text-align: center;
    background: #48DCA8;
    border-radius: 100%;
    transition: .5s;
}

/* 1854 */
.about-content h2 {
    font-size: 26px;
    margin: 25px 0 12px;
}

/* 1917 */
.about-section.style-three {
    background: url(assets/images/new/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

/* 1930 */
.about-section.style-three .dreamit-section-title.text-center .dreamit-section-main-title h1 {
    font-size: 36px;
    margin: 0 0 22px;
    font-weight: 600;
}

/* 1936 */
.about-section.style-three .about-thumb {
    position: relative;
    left: 0;
    top: 22px;
}

/* 1942 */
.about-section.style-three .about-single-icon-box {
    margin-bottom: 18px;
}

/* 1945 */
.about-section.style-three .about-icon-thumb {
    background: transparent;
    margin-right: 35px;
}

/* 1949 */
.about-section.style-three .about-content h2 {
    font-size: 20px;
    margin: 0px 0 14px;
    font-weight: 500;
}

/* 1954 */
.about-section.style-three .about-shape {
    position: absolute;
    top: 0;
    right: 16px;
}

/* 1969 */
.dreamit-section-title.two .dreamit-section-sub-title h5 img {
    margin-right: 9px;
}

/* 1972 */
.dreamit-section-title.two .dreamit-section-sub-title h5 {
    background: #081B5E;
    padding: 11px 29px;
    left: 0;
    border-radius: 4px;
}

/* 1982 */
.dreamit-section-title.two .dreamit-section-main-title h1 {
    font-size: 36px;
    margin: 0 0 22px;
    font-weight: 600;
}

/* 1991 */
.about-section.style-three .about-shape-one {
    position: absolute;
    top: 17%;
    left: 10%;
    z-index: -1;
}

/* 2028 */
.choose-section.style-two {
    background: url(assets/images/new/bg2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 2034 */
.choose-section.style-two .dreamit-content-text-inner p {
    margin: 21px 0 39px;
}

/* 2037 */
.choose-section.style-two .dreamit-section-title.two .dreamit-section-content-text p {
    width: 100%;
    text-align: left;
    margin: 0 auto 0;
}

/* 2042 */
.choose-section.style-two .choose-btn a {
    display: inline-block;
    background: #0094FB;
    font-size: 16px;
    padding: 14px 29px;
    border-radius: 4px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
    transition: .5s;
}

/* 2054 */
.choose-section.style-two .choose-btn a::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transition: .5s;
    height: 100%;
    width: 0;
    z-index: -1;
    background: #FFF;
    border-radius: 4px;
}

/* 2066 */
.choose-section.style-two .choose-btn a:hover::after {
    left: 0;
    width: 100%;
}

/* 2073 */
.choose-section.style-two .choose-btn a:hover i {
    border-color: #0094FB;
}

/* 2076 */
.choose-section.style-two .choose-btn a i{
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #FFF;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    transition: .5s;
    font-size: 10px;
}

/* 2089 */
.choose-section.style-two .choose-thumb {
    position: relative;
    left: 95px;
}

/* 2094 */
.feature-section {
    background: url(assets/images/new/ground.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 2100 */
.single-feature-box {
    background: #09185E;
    position: relative;
    z-index: 1;
    padding: 29px 29px 29px;
    border-radius: 5px;
}

/* 2107 */
.single-feature-box::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: .5s;
    border-radius: 4px;
    z-index: -1;
    background: -webkit-linear-gradient(-9deg, #0A2C56 0%, #441459 97%);
}

/* 2119 */
.single-feature-box:hover::before {
    width: 100%;
    left: 0;
}

/* 2123 */
.feature-thumb {
    margin-bottom: 20px;
}

/* 2126 */
.feature-content span {
    font-size: 18px;
    color: #486178;
    margin: 0;
    font-weight: 600;
}

/* 2132 */
.feature-content h3 {
    margin: 13px 0 0;
    font-size: 22px;
    font-weight: 500;
}

/* 2137 */
.feature-content p {
    color: #375079;
    position: absolute;
    right: 26px;
    bottom: 13px;
    font-weight: 600;
}

/* 2146 */
.feature-section .shape {
    top: 29px;
    right: 28px;
    position: absolute;
    left: inherit;
}

/* 2153 */
.token-section {
    position: relative;
}

/* 2156 */
.dreamit-section-title.text-center .dreamit-section-sub-title h5 {
    left: 0;
    margin: 0 0 17px;
    font-weight: 500;
    z-index: 1;
}

/* 2162 */
.dreamit-section-title.two .dreamit-section-sub-title h5{
    margin: 0 0 21px;
    color: #37A3FE;
}

/* 2166 */
.dreamit-section-title.text-center .dreamit-section-main-title h1 {
    font-size: 40px;
    margin: 0 0 22px;
}

/* 2170 */
.dreamit-section-title.two .dreamit-section-main-title h1 {
    font-size: 36px;
    margin: 0 0 22px;
    font-weight: 600;
}

/* 2175 */
.dreamit-section-title.two .dreamit-section-content-text p {
    width: 40%;
    text-align: center;
    margin: 0 auto 0;
}

/* 2261 */
.token-section .single-token-box {
    padding-bottom: 100px;
    text-align: center;
}

/* 2265 */
.token-section .token-content {
    background: #0A245F;
    text-align: center;
    padding: 29px 0 29px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
}

/* 2316 */
.token-thumb {
    position: relative;
}

/* 2387 */
.token-section.style-four {
    background: url(assets/images/new/token.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 2393 */
.token-section.style-four .single-token-box {
    padding: 40px 27px 42px;
    text-align: center;
    background: rgb(28, 25, 94, 0.6);
    transition: .5s;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* 2403 */
.token-section.style-four .single-token-box::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    transition: .5s;
    border-radius: 5px;
    z-index: -1;
    background: -webkit-linear-gradient(-9deg, #032241 0%, #3B035A 97%);
}

/* 2416 */
.token-section.style-four .single-token-box::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    transition: .5s;
    border-radius: 5px;
    z-index: -1;
    background: -webkit-linear-gradient(-9deg, #213981 0%, #3B035A 97%);
}

/*  2429 */
.token-section.style-four .single-token-box:hover::before {
    left: 0;
    width: 100%;
}

/* 2433 */
.token-section.style-four .single-token-box:hover {
    transform: translateY(-10px);
}

/* 2442 */
.token-section.style-four .token-content {
    background: transparent;
    padding: 18px 0 0;
    margin-bottom: 0px;
}

/* 2447 */
.token-section.style-four .token-btn {
    margin-top: 15px;
}

/* 2450 */
.token-section.style-four .token-btn a {
    border: 1px solid #0D3E92;
    display: inline-block;
    padding: 0px 43px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: .5s;
    font-family: 'Inter';
}

/* 2462 */
.token-section.style-four .token-btn a::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transition: .5s;
    height: 100%;
    width: 0;
    z-index: -1;
    background: #FFF;
    border-radius: 4px;
}

/* 2475 */
.token-section.style-four .token-btn a:hover::after {
    width: 100%;
    left: 0;
}

/* 2479 */
.token-section.style-four .token-btn a:hover {
    border-color: #FFF;
}

/* 2587 */
.single-chart {
    background: #062663;
    padding: 43px 0px 33px;
    position: relative;
}

/* 2592 */
.single-chart-two {
    background: #0D3151;
    padding: 43px 0px 103px;
    position: relative;
}

/* 2597 */
canvas#yourChart {
    height: 470px !important;
    width: 470px !important;
    position: relative;
    left: 20px;
}


/* 2603 */
.chart-menu {
    position: relative;
    left: 43px;
}

/* 2607 */
.chart-menu ul li {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    list-style: none;
    position: relative;;
}

/* 2614 */
.chart-menu ul li:before {
    position: absolute;
    content: "";
    top: 0;
    left: -27px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #AA3BC5;
}

/* 2624 */
.chart-menu li.another2::before {
    background: #1ED4A4;
}

/* 2627 */
.chart-menu li.another3::before {
    background: #F97431;
}

/* 2630 */
.chart-menu li.another4::before {
    background: #09B1F2;
}

/* 2633 */
.chart-menu li.another5::before {
    background: #FEB81A;
}

/* 2636 */
.chart-menu li.another6::before {
    background: #ED3954;
}

/* 2640 */
.graph-section {
    background: #07093C;
}

/* 2643 */
.row.upper14 {
    border-top: 1px solid #252855;
    padding-top: 89px;
}

/* 2647 */
.graph-section .dreamit-section-main-title h1 {
    margin: 0 0 13px;
}

/* 2650 */
.right-side-graph-btn {
    float: right;
}

/* 2653 */
.right-side-graph-btn a {
    display: inline-block;
    background: #37A3FE;
    padding: 17px 45px;
    font-family: 'Inter';
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* 2665 */
.right-side-graph-btn a::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transition: .5s;
    height: 100%;
    width: 0;
    z-index: -1;
    border-radius: 30px;
    background: #FFF;
}

/* 2677 */
.right-side-graph-btn a:hover::after {
    width: 100%;
    left: 0;
}

/* 2681 */
.right-side-graph-btn a:hover {
    color: #37A3FE;
}

/* 2685 */
.graph-section.style-three {
    background: url(assets/images/new/000.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 2691 */
.graph-section.style-three .row.upper14 {
    border-top: none;
}

/* 2694 */
.graph-section.style-three .right-side-graph-btn a {
    border-radius: 5px;
    padding: 13px 45px;
}

/* 2698 */
.graph-section.style-three .dreamit-section-main-title h1 {
    font-size: 36px;
    font-weight: 600;
}

/* 2702 */
.graph-section.style-three .right-side-graph-btn a::after {
    border-radius: 5px;
}

/* 2706 */
.shape12 {
    position: absolute;
    top: 36%;
    left: 39%;
}

/* 2711 */
.shape13 {
    position: absolute;
    top: 28%;
    left: 32%;
    right: 0;
    margin: auto;
}

/* 2718 */
.chart-menu ul li span {
    font-size: 16px;
    font-family: 'Inter';
    margin-right: 13px;
}

/* 2723 */
.row.upper13 {
    position: relative;
    top: 70px;
}

/* 2750 */
.single-road-map-box {
    border: 1px solid #034F9B;
    padding: 23px 0 23px 26px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: .5s;
    background: #06174F;
    position: relative;
    left: 26px;
}

/* 2942 */
.road-map.style-two {
    position: relative;
    z-index: 1;
}

/* 2957 */
.road-map.style-two .single-road-map-box {
    border: none;
    padding: 23px 0 23px 26px;
    background: none;
    left: 0;
    text-align: center;
    margin-right: 29px;
}

/* 2965 */
.road-map-content-inner {
    background: #FFF;
    box-shadow: 10px 0 30px rgb(255, 255, 255, 0.4) ;
    padding: 27px 19px 24px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* 2974 */
.road-map-content-inner::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: .5s;
    z-index: -1;
    background: #1FD5A4;
    border-radius: 5px;
}

/* 2986 */
.single-road-map-box:hover .road-map-content-inner::before {
    width: 100%;
    left: 0;
}

/* 2990 */
.single-road-map-box:hover .road-map-content-inner h3, 
.single-road-map-box:hover .road-map-content-inner p {
    color: #FFF;
}

/* 2994 */
.road-map-content-inner h3 {
    color: #1FD5A4;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 9px;
}


/* 3000 */
.single-road-map-content h4 {
    font-size: 18px;
    margin: 0 0 19px;
    font-weight: 600;
    color: #08195E;
}

/* 3006 */
.road-map-content-inner p {
    margin: 0 0 0;
    color: #717171;
}

/* 3010 */
.shape16 {
    position: absolute;
    top: 271px;
    left: 27px;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: -1;
}

/* 3020 */
.road-map.style-two.upper {
    background: url(assets/images/new/map.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 3026 */
.road-map.style-two.upper .single-road-map-box {
    border: none;
    padding: 23px 0 23px 26px;
    margin-right: 60px;
}

/* 3031 */
.road-map.style-two.upper .single-road-map-box.two {
    width: 64%;
    margin-left: 23px;
}

/* 3035 */
.road-map.style-two.upper .single-road-map-content h4 {
    color: #FFF;
}

/* 3038 */
.road-map.style-two.upper .road-map-content-inner p {
    font-size: 15px;
    color: #A2BBD2;
}

.road-map.style-two.upper .single-road-map-box:hover .road-map-content-inner h3,
.road-map.style-two.upper .single-road-map-box:hover .road-map-content-inner p {
    color: #FFF;
}

/* 3046 */
.road-map.style-two.upper .road-map-content-inner {
    background: #0B2D6D;
    box-shadow: none;
    padding: 22px 19px 19px;
}

/* 3051 */
.road-map.style-two.upper .road-map-content-inner h3 {
    color: #FFF;
}

/* 3054 */
.road-map.style-two.upper .road-map-content-inner::before {
    background: #0094FF;
}

/* 3058 */
.road-map.style-two.upper .shape16 {
    top: 355px;
    left: -68px;
}

/* 3062 */
.road-map.style-two.upper .shape17 {
    position: absolute;
    top: 12%;
    left: 12%;
    z-index: -1;
}

/* 3069 */
.call-section {
    background: url(assets/images/new/call.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* 3075 */
.call-section .row.section {
    background: url(assets/images/new/shape.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 67px 34px 79px;
    position: relative;
    border-radius: 7px;
}

/* 3084 */
.call-section .call-shape {
    position: absolute;
    top: -110px;
}

/* 3088 */
.call-section .call-shape2 {
    position: absolute;
    left: 94px;
    animation: wooo 3s infinite;
}

/* 3093 */
.call-section .call-title h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 0;
    line-height: 1.3;
}

/* 3099 */
.call-section .call-content-text p {
    margin: 13px 0 46px;
} 

/* 3102 */
.call-section span.more {
    margin-left: 16px;
}

/* 3154 */
.team-section {
    background: url(assets/images/team/abvice.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 3273 */
.team-inner-thumb {
    display: inline-block;
    margin-right: 14px;
}

/* 3277 */
.inner-btn {
    display: inline-block;
}

/* 3280 */
.inner-btn a {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
}

/* 3288 */
.inner-btn a i {
    margin-left: 6px;
}

/* 3304 */
.single-team-thumb {
    position: relative;
}

/* 3307 */
.single-team-thumb img {
    width: 100%;
}

/* 3310 */
.single-team-content {
    background: #FFF;
    text-align: center;
    width: 80%;
    left: 25px;
    right: 0;
    margin: 0;
    position: absolute;
    padding: 26px 0 9px;
    border-radius: 5px;
    bottom: 64px;
}

/* 3322 */
.single-team-content h3 {
    color: #08195E;
    font-size: 20px;
    margin: 0 0 4px;
    font-weight: 600;
}

/* 3340 */
.single-team-social-icon ul li {
    display: inline-block;
    margin-right: 4px;
}

/* 3349 */
.single-team-social-icon ul li.first {
    height: 45px;
    width: 100px;
    background: #F5F5F5;
}

/* 3354 */
.single-team-social-icon ul li a {
    color: #9797A1;
    display: inline-block;
    background: #F5F5F5;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    transition: .5s;
    border-radius: 5px;
}

/* 3366 */
.single-team-social-icon ul li a:hover{
     color: #FFF;
}

/* 3398 */
.team-section.style-four .single-team-box-two {
    transition: .5s;
}

/* 3401 */
.team-section.style-four .single-team-box-two:hover {
    transform: translateY(-10px);
}

/* 3407 */
.team-section.style-four .single-team-thumb::before {
    content: "";
    position: absolute;
    background: -webkit-linear-gradient(-9deg, #0A2C56 0%, #441459 97%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 0;
    transition: 500ms;
    transform: scaleX(0);
}

/* 3420 */
.team-section.style-four .single-team-box-two:hover .single-team-thumb::before {
    transform: scaleY(1);
}

/* 3423 */
.team-section.style-four .single-team-content {
    background: #0A2D6D;
    text-align: center;
    width: 100%;
    position: inherit;
    padding: 26px 0 31px;
    border-radius: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 3434 */
.team-section.style-four .single-team-social-icon {
    margin-top: 20px;
}

/* 3437 */
.team-section.style-four .single-team-social-icon ul li {
    border-radius: 4px;
    transition: .5s;
}

/* 3441 */
.team-section.style-four .single-team-content h3 {
    color: #FFF;
}

/* 3444 */
.team-section.style-four .single-team-social-icon ul li.first {
    background: #23407A;
}

/* 3451 */
.team-section.style-four .single-team-social-icon ul li.first a:hover {
    color: #FFF !important;
}

/* 3455 */
.team-section.style-four .single-team-social-icon ul li:hover {
    background: #0095FF;
    color: #FFF !important;
}

/* 3459 */
.team-section.style-four .single-team-social-icon ul li.first a {
    background: transparent;
}

/* 3462 */
.team-section.style-four .single-team-social-icon ul li a {
    color: #9797A1;
    background: #23407A;
}

/* 3466 */
.team-section.style-four .single-team-social-icon ul li a:hover {
    background: #0095FF;
    color: #FFF !important;
}

/* 3470 */
.team-section.style-four .single-team-content span {
    font-weight: 500;
    color: #A2BBD2
}

/* 3592 */
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: none;
    width: 100%;
}

/* 3601 */
ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #FFF;
    color: #37A3FE;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    font-weight: 600;
    transition: .5s;
}

/* 3627 */
ul.tabs li.active {
    background-color: #37A3FE;
    color: #FFF;
    display: block;
    font-weight: 600;
}

/* 3641 */
.tab_content {
    padding: 23px 0 0 4px;
    display: none;
}

/* 3709 */
.contact-section.style-four .contact-icon {
    right: 25px;
    position: relative;
    z-index: 1;
}

/* 3714 */
.contact-section.style-four .contact-icon::after {
    position: absolute;
    content: "";
    top: -8px;
    left: -8px;
    height: 65px;
    width: 65px;
    z-index: -1;
    background: rgb(55, 163, 254, 0.5);
    border-radius: 100%;
}

/* 3725 */
.contact-section.style-four .contact-icon i {
    display: inline-block;
    height: 49px;
    width: 49px;
    line-height: 49px;
    text-align: center;
    background: #0195F9;
    font-size: 22px;
    color: #FFF;
    border-radius: 100%;
}

/* 3737 */
.contact-section.style-four .contact-content-text  p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
}

/* 3744 */
.contact-section.style-four {
    margin-top: 0;
    background: url(assets/images/new/blog.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* 3754 */
.contact-section.style-four .contact_from.upper10 {
    background: transparent;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* 3760 */
.contact-section.style-four .row.upper12 {
    background: transparent;
    border-radius: 0px;
}

/* 3764 */
.contact-section.style-four .form-control {
    height: 58px;
    padding: 14px 0 14px 25px;
    background-color: #1E1D56;
    border-bottom: 1px solid #1E1D56 !important;
    font-family: 'Inter';
    border: none;
    margin-bottom: 26px;
}

/* 3773 */
.contact-section.style-four textarea.form-control {
    height: 154px !important;
}

/* 3776 */
.contact-section.style-four .quote_btn.text_center {
    margin: auto;
}

/* 3779 */
.contact-section.style-four .btn {
    border-radius: 5px;
}

/* 3782 */
.contact-section.style-four .btn::after {
    border-radius: 5px;
}

/* 3839 */
.faq-section.style-four {
    background: url(assets/images/new/call.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 3845 */
.faq-section.style-four .accordion a::after {
    top: 26px;
}

/* 3848 */
.faq-section.style-four .accordion a::before {
    top: 32px;
}

/* 3855 */
.faq-section.style-four ul.tabs {
    display: flex;
    justify-content: center;
}

/* 3862 */
.contact-section.style-four {
    margin-top: 0;
}

/* 3871 */
.accordion {
    max-width: 517px;
    border-top: 1px solid #D9E5E8;
    height: 360px;
    scroll-behavior: none;
}

/* 3877 */
ul.accordion {
    padding: 0;
}

/* 3880 */
.accordion li {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #D9E5E8;
    position: relative;
}

/* 3889 */
.accordion li p {
    display: none;
    padding: 0px 0px 5px 17px;
    color: #FFF;
    font-size: 16px;
}

/* 3895 */
.accordion a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3.5;
    font-size: 14px;
    font-size: 0.075rem;
    text-indent: 15px;
    user-select: none;
    font-size: 20px;
    color: #0094FB !important;
    display: inline-block;
    font-family: 'Inter';
}

/* 3910 */
.accordion a::after {
    width: 8px;
    height: 16px;
    border-right: 2px solid #FFF;
    position: absolute;
    content: "";
    right: 16px;
    top: 34px;
    transform: rotate(1deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* 3923 */
.accordion a::before {
    width: 15px;
    height: 8px;
    border-top: 2px solid #FFF;
    position: absolute;
    content: "";
    right: 10px;
    top: 41px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* 3935 */
.accordion p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.8;
}

/* 3941 */
a.active::after {
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* 3947 */
a.active::before {
    display: none;
}

/* 3970 */
.contact-section {
    position: relative;
    margin-top: -272px;
}

/* 3984 */
.contact_from.upper10 {
    background: #0A1F62;
    padding: 55px 55px 43px 55px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* 4000 */
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0 0 14px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF !important;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom: 1px solid #314D8E !important;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'Inter';
    border: none;
    margin-bottom: 26px;
}

/* 4018 */
.btn {
    display: inline-block;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0194FC;
    border: 1px solid transparent;
    padding: 16px 42px;
    font-size: 16px;
    transition: .5s;
    line-height: 1.5;
    border-radius: 30px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: inter;
}

/* 4041 */
.btn::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    transition: .5s;
    border-radius: 30px;
    background: #FFF;
    top: 0;
    right: 0;
    z-index: -1;
}

/* 4054 */
.btn:hover::after {
    width: 100%;
    left: 0;
}

/* 4058 */
.btn:hover {
    color: #0194FC;
}

.row.upper12 {
    background: #0A1F62;
    border-radius: 10px;
}

/* 4233 */
.form-control::placeholder {
    color: #FFF;
    opacity: 1;
}

/* 4238 */
.single-blog-box {
    margin-bottom: 30px;
    transition: .5s;
    box-shadow: 0px 0px 24px rgb(255, 255, 255 / 9%);
    position: relative;
    z-index: 1;
}

/* 4245 */
.blog-thumb {
    position: relative;
    z-index: 1;
    transition: .5s;
}

/* 4250 */
.blog-thumb img {
    width: 100%;
}

/* 4253 */
.blog-thumb::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(164, 85, 84, .2) 69%, #46DDA8 100%);
    right: 0px;
    top: 0;
    transition: all 5s ease-in-out;
}

/* 4267 */
.blog-content-text p {
    transition: .5s;
    color:  #616161;
    margin: 0 0 11px;
}


/* 4295 */
.blog-content {
    left: 35px;
    bottom: 0;
    padding: 24px 0px 22px 23px;
    background: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 4303 */
.blog-title h2 {
    font-size: 24px;
    margin:  0 0 12px;
    position: relative;
    transition: .5s;
    color: #08195E;
    font-weight: 600;
}

/* 4311 */
.blog-btn a {
    display: inline-block;
    transition: .5s;
    color: #06305F;
    font-size: 16px;
    font-weight: 600;
}

/* 4321 */
.blog-btn a i {
    font-size: 13px;
    margin-left: 5px;
    display: inline-block;
}

/* 4330 */
.blog-section.style-two .single-blog-box {
    box-shadow: none;
}

/* 4333 */
.blog-section.style-two .blog-thumb img {
    position: relative;
    border-radius: 6px !important;
}

/* 4337 */
.blog-section.style-two .blog-thumb {
    position: relative;
}

/* 4340 */
.blog-section.style-two .blog-thumb::before {
    z-index: 1;
    background: linear-gradient(to bottom, rgba(164, 85, 84, .2) 99%, #4E1972 100%);
    transition: .5s;
}

/* 4345 */
.blog-section.style-two .single-blog-box:hover .blog-thumb::before {
    left: 0;
    background: linear-gradient(to top, #571376 0%, rgba(0, 0, 0, .1) 73%);
}

/* 4349 */
.blog-section.style-two .blog-content {
    padding: 19px 0px 22px 0;
    background: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* 4355 */
.blog-section.style-two .meta-box {
    line-height: 1;
}

/* 4361 */
.blog-section.style-two .meta-icon i {
    color: #A2BBD2;
    font-size: 13px;
}

/* 4365 */
.blog-section.style-two .meta-date {
    display: inline-block;
}

/* 4368 */
.blog-section.style-two .meta-date p {
    font-family: 'Inter';
}

/* 4371 */
.blog-section.style-two .meta-icon {
    display: inline-block;
}

/* 4374 */
.blog-section.style-two .blog-title h2 {
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 9px;
}

/* 4383 */
.blog-section.style-two .blog-content-text p {
    color: #A2BBD2;
    margin: 0 0 13px;
}

/* 4387 */
.blog-section.style-two .blog-btn a {
    color: #37A3FE;
    font-size: 15px;
    font-weight: 500;
}

/* 5353 */
.sidebar {
    display: inline-block;
    position: relative;
    left: 13px;
    top: 7px;
}

/* 5523 */
.header-src-btn {
    display: inline-block;
    position: relative;
    top: -3px;
}

/* 5528 */
.search-box-btn.search-box-outer i {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

/* Animaciones */
/* 5694 */
.rotatemeTwo {
    animation-name: rotateme;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotatemeTwo {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* 5716 */
#rotateMe {
    animation: wooo 3s infinite;
    transform-origin: 50% 50% 50%;
}

/* 5722 */
@keyframes wooo {
    0% {
        transform: rotate3d(0, 0, 0);
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 359deg);
    }
}