@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 9 */
html, body {
    overflow-x: hidden;
}

/* 13 */
body {
    font-family: 'Raleway', sans-serif;
    color: #a2bbd2;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    transition: .5s;
    background: #0B0B47;
}

/* 24 */
p {
    font-weight: 400;
    font-style: normal;
    transition: .5s;
}

/* 29 */
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0 0 10px;
    line-height: 1.2;
    font-weight: 700;
    transition: .5s;
}

/* 44 */
h1 {
    font-size: 50px;
}


/* 47 */
h2 {
    font-size: 35px;
}

/* 51 */
h3 {
    font-size: 30px;
}

/* 54 */
h4 {
    font-size: 24px;
}

/* 63 */
a {
    transition: all 0.3s ease-out 0s;
}

/* 66 */
a {
    color: #fff;
}

/* 74 */
a:focus, a:hover {
    text-decoration: none;
}

/* 77 */
.cryptozen_menu ul {
    display: inline-block;
}

/* 80 */
.cryptozen_menu ul li {
    list-style: none;
    display: inline;
    position: relative;

    /* background: royalblue; */
}

/* 85 */
.cryptozen_menu ul li a {
    display: inline-block;
    font-size: 15px;
    padding: 36px 14px;
    text-transform: capitalize;
    transition: .5s;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

/* 100 */
.pt-10 {
    padding-top: 10px;
}

/* 106 */
.pt-20 {
    padding-top: 20px;
}

/* 109 */
.pt-25 {
    padding-top: 25px;
}

/* 110 */
nav.cryptozen_menu {
    float: right;
}

/* 114 */
a.stiky-logo img {
    display: none;
}

/* 115 */
.pt-30 {
    padding-top: 30px;
}

/* 121 */
.pt-40 {
    padding-top: 40px;
}

/* 127 */
.pt-50 {
    padding-top: 50px;
}

/* 130 */
.pt-55 {
    padding-top: 55px;
}

/* 133 */
.pt-60 {
    padding-top: 60px;
}

/* 142 */
.pt-75 {
    padding-top: 75px;
}

/* 145 */
.pt-80 {
    padding-top: 80px;
}

/* 151 */
.pt-90 {
    padding-top: 90px;
}

/* 154 */
.pt-95 {
    padding-top: 95px;
}

/* 157 */
.pt-100 {
    padding-top: 100px;
}

/* 160 */
.pt-110 {
    padding-top: 110px
}

/* 207 */
.cryptozen_menu li {
    padding-bottom: 48px;
}

/* 222 */
.pb-20 {
    padding-bottom: 20px;
}

/* 240 */
.pb-50 {
    padding-bottom: 50px;
}

/* 252 */
.pb-70 {
    padding-bottom: 70px;
}

/* 258 */
.pb-80 {
    padding-bottom: 80px;
}

/* 264 */
.header-btn a:hover::after {
    left: 0;
    width: 100%;
}

/* 270 */
.pb-100 {
    padding-bottom: 100px;
}

/* 276 */
.pb-120 {
    padding-bottom: 120px;
}

/* 464 */
.mt-15 {
    margin-top: 15px;
}

/* 488 */
.mt-50 {
    margin-top: 50px;
}

/* 719 */
ul {
    margin: 0;
    padding: 0;
}

/* 742 */
a, i, cite, em, var, address, dfn, ol, li, ul {
    font-style: normal;
    font-weight: 400;
}

/* 758 */
::selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}

/* 764 */
::placeholder {
    color: #454545;
    font-size: 16px;
}